body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fact-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    max-width: 80ch;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn:hover {
    background-color: #2a88bd; /* Change color on hover */
}

.btn:active {
    transform: scale(0.95); /* Shrink a bit when pressed */
}

.my-facts-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.my-facts-btn:hover {
    background-color: #3e9140;    
}

.generate-fact-btn, .save-fact-btn {
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.disabled-btn {
    background-color: #65b2f1; 
}

.disabled-btn:hover {
    background-color: #65b2f1;
    cursor: default;
}

.disabled-btn:active {
    transform: none;
}

.clear-facts-btn {
    background-color: #b1aeae;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 14px;
    left: 26px;
}

.clear-facts-btn:hover {
    background-color: #929191;
}

i {
    font-size: 250%;
    cursor: pointer;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 80ch;
    height: 40ch;
    overflow: auto;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #888;
    transition: color 0.3s ease;
}
.close-popup:hover {
    color: #333; /* Change color on hover for a visual effect */
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
}

.saved-facts-list {
    list-style-type: none;
    padding: 0;
}

.saved-facts-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.saved-facts-list li:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.hidden {
    display: none;
}

.error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 14px;
    margin-top: 10px;
}

.spinner {
    animation: rotate 0.1s infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
}